{% extends 'RUser/design.html' %}
{% block userblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 904px;
    height: 202px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style6 {
	font-size: 24px;
	color: #FFFF00;
	font-weight: bold;
}
        .style7 {
	color: #FFFF00;
	font-weight: bold;
}
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">

                   <form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">PREDICTION OF HEALTHCARE THREAT TYPE !!! </p>
                            <hr>

                                {% csrf_token %}
                                <table width="1122" align="center">
                                  <tr>
                                    <td height="44" colspan="4" bgcolor="#FF0000"><div align="center" class="style7">ENTER ALL HEALTHCARE DATASETS DETAILS HERE !!! </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" colspan="4" bgcolor="#FF0000"><div align="center"><span class="style7">Enter RID</span> 
                                      <input type="text" name="RID">
                                    </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><span class="style7">SV_TAXONOMY</span></td>
                                    <td><input type="text" name="SV_TAXONOMY"></td>
                                    <td bgcolor="#FF0000"><span class="style7">TAXONOMY_NAME</span></td>
                                    <td><input type="text" name="TAXONOMY_NAME"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><span class="style7">RG_REFERENCE</span></td>
                                    <td><input type="text" name="RG_REFERENCE"></td>
                                    <td bgcolor="#FF0000"><span class="style7">SV_REFERENCE</span></td>
                                    <td><input type="text" name="SV_REFERENCE"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><span class="style7">SV_NAME</span></td>
                                    <td><input type="text" name="SV_NAME"></td>
                                    <td bgcolor="#FF0000"><span class="style7">SV_DESCRIPTION</span></td>
                                    <td><textarea name="SV_DESCRIPTION" cols="20" rows="5"></textarea></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><span class="style7">SL_REFERENCE</span></td>
                                    <td><input type="text" name="SL_REFERENCE"></td>
                                    <td bgcolor="#FF0000"><span class="style7">LC_REFERENCE</span></td>
                                    <td><input type="text" name="LC_REFERENCE"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><span class="style7">PHONE_NUMBER</span></td>
                                    <td><input type="text" name="PHONE_NUMBER"></td>
                                    <td bgcolor="#FF0000"><span class="style7">WEBSITE</span></td>
                                    <td><textarea name="WEBSITE" cols="20" rows="5"></textarea></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><span class="style7">EMAIL_ADDRESS</span></td>
                                    <td><input type="text" name="EMAIL_ADDRESS"></td>
                                    <td bgcolor="#FF0000"><span class="style7">WHEELCHAIR_ACCESSIBLE</span></td>
                                    <td><input type="text" name="WHEELCHAIR_ACCESSIBLE"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><span class="style7">STREET_NUMBER</span></td>
                                    <td><input type="text" name="STREET_NUMBER"></td>
                                    <td bgcolor="#FF0000"><span class="style7">CITY</span></td>
                                    <td><input type="text" name="CITY"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><span class="style7">LATITUDE</span></td>
                                    <td><input type="text" name="LATITUDE"></td>
                                    <td bgcolor="#FF0000"><span class="style7">LONGITUDE</span></td>
                                    <td><input type="text" name="LONGITUDE"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><span class="style7">LINK_811</span></td>
                                    <td><textarea name="LINK_811" cols="20" rows="5"></textarea></td>
                                    <td bgcolor="#FF0000">&nbsp;</td>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td width="287" height="44" bgcolor="#FFFFFF"><div align="center"></div></td>
                                    <td width="269">&nbsp;</td>
                                    <td width="269"><input name="submit" type="submit" class="style1" value="Predict"></td>
                                    <td width="269">&nbsp;</td>
                                  </tr>
  <td><p>&nbsp; </p>
          <p>&nbsp;</p></td>
  </tr>
                                </table>
					 </fieldset>
				  </form>


 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>

                            <hr>
                            <div>
                              <table width="750" height="56" border="0" align="center" >
                                    <tr><td width="350" bgcolor="#FF0000"><div align="center"><span class="style6">Detected Healthcare Threat Type</span> :: </div></td>



                                      <td width="237" bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center"><strong>{{objs}}</strong></div></td>
                                    </tr>
                      </table>



                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>